<!--
title: Doc de l'algo
description: 
published: true
date: 2021-10-04T15:18:57.878Z
tags: 
editor: ckeditor
dateCreated: 2021-10-04T15:18:54.180Z
-->

<p>Ceci est un test de création de page</p>
<figure class="image"><img src="/screenshot_from_2021-10-04_17-05-21.png"></figure>
